:root{
    --font-logo: 'Righteous', cursive, sans-serif;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Hachi Maru Pop', cursive, sans-serif;
    --color-primary: #49BEAA;
    --color-secondary: #EF767A;
    --color-background: #FBF5F3;
}



/* ---------------- GENERAL + HEADER + NAV + FOOTER--------------- */

body {
    font-family: var(--font-primary);
    background-color: var(--color-background);
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-top{
    min-height: 70px;
    background-color: var(--color-primary);
}

.connect-menu, .cart-menu{
    position: absolute;
    display: none;
    width: 150px;
    top: 120%;
    left: -50%;
}

.cart-menu{
    left: -105%;
}
.active {
    display: block;
}
h1{
    font-family: var(--font-logo);
    font-size: 50px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

.searchbar img {
    width: 50px;
}

.searchbar{
    position: relative;
}

.custom-placeholder{
    position: absolute;
    left: 0;
}

.searchbar input{
    font-size: 25px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px 5px 50px;
}

.user-logo, .cart-logo{
    width: 50px;
    cursor: pointer;
    position: relative;
}

.user-logo img, .cart-logo img{
    max-width: 100%;
}

nav{
    overflow-x: scroll;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.7);
}

.nav-item:hover{
    color: var(--color-primary);
    opacity: 80%;
    border-bottom: 4px solid var(--color-secondary);
    border-radius: 15px;
}

nav::-webkit-scrollbar{
    opacity: 0;
    height: 0;
}

.nav-item.active-nav{
    border-bottom: 4px solid var(--color-secondary);
    border-radius: 15px;
}
main {
    flex: 1;
}
footer {
    margin-top: auto;
    height: 140px;
    background-color: var(--color-primary);
}

.btn:hover{
    background-color: var(--color-secondary);
}

@media screen and (max-width: 767px) {
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 20px;
    }
    .user-logo, .cart-logo{
        width: 30px;
    }
    .searchbar input{
        text-align: center;
        width: 100dvw;
        border: 0;
        border-bottom: 1px solid var(--color-secondary);
        border-radius: 0;
    }
}

.error{
    background-color: rgb(249, 169, 169);
    color: rgb(186, 0, 0);
    margin: 15px 0px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.loader {
    width: 70px;
    height:70px;
    margin: 0 auto;
    border: 5px solid #333;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
