<script>
import {useUserStore} from "@/stores/user.js";

export default {
    name: "MemberPage",
    data() {
        return {
            userStore: useUserStore(),
        }
    },
    computed: {
        connectedUser() {
            return this.userStore.user;
        },
        hasImageProfile() {
            return this.userStore.user.image !== '';
        }
    },
    methods: {
        getUserInformation() {
            if(Object.keys(this.userStore.user).length === 0) {
                this.userStore.fetchConnectedUser();
            }
        }
    },
    created() {
        this.getUserInformation();
    }
}
</script>

<template>
    <div class="container mb-5">
        <h2 class="mt-5">Espace client</h2>
        <div class="account_container d-flex justify-content-around mt-3">
            <aside class="account_menu p-4 border rounded">
                <ul>
                    <li><router-link :to="{name: 'lastOrders'}">Dernières commande</router-link></li>
                    <li><router-link :to="{name: 'childcares'}">Mes gardes</router-link></li>
                    <li><router-link :to="{name: 'mailbox', params: {userId:1}}">Messagerie</router-link></li>
                    <li><router-link :to="{name: 'contact'}">Contactez-nous</router-link></li>
                </ul>
            </aside>
            <aside class="user_info_container d-flex justify-content-around border p-3">
                <img v-if="hasImageProfile"
                     :src="`/images/crop/${connectedUser.image}.jpg`"
                     alt="photo utilisateur"
                     class="user_img me-5"
                >
                <img v-else src="https://avatar.iran.liara.run/public" alt="photo utilisateur" class="user_img me-5">
                <div>
                    <ul>
                        <li>Nom : {{connectedUser.lastname}}</li>
                        <li>Prénom : {{connectedUser.firstname}}</li>
                        <li>Mail : {{connectedUser.mail}}</li>
                        <li>Adresse : {{connectedUser.address}}</li>
                        <li>Ville : {{connectedUser.city}}</li>
                        <li>Code postal : {{connectedUser.zipcode}}</li>
                    </ul>
                    <a href="#">Modifier mes infos</a>
                </div>
            </aside>
        </div>
        <div class="my-activity">
            <h2>Mon activité</h2>
        </div>
    </div>
</template>

<style scoped>
    .user_info_container {
        //width: 500px
    }
    .user_img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    ul {
        padding: 0;
    }

    ul li {
        list-style: none;
    }
</style>