<script>
export default {
    name: "Card",
    props: {
        id: {
            type: Number,
            required: true
        },
        category: {
            type: String,
            required: true
        },
        img: {
            type: String,
            required: true
        },
        name: {
            type: String,
            required: true
        },
        age: {
            type: Number
        },
        desc: {
            type: String,
            required: true
        },
        price : {
            type: Number
        }
    },
    computed: {
      isCardProduct() {
          return this.$route.name === 'products';
      }
    },
    methods: {
        isYearPlural(age) {
            return age > 1 ? 'ans' : 'an';
        }
    }
}
</script>

<template>
    <div class="col-12 col-md-4 mt-3">
        <div class="card-profil card" :class="{'card-product' : isCardProduct}">
            <img :src="`/images/crop/${category}/${img}.jpg`"
                 class="card-img-top"
                 alt="photo de profil"
            />
            <div class="card-body">
                <h3 class="card-title" v-if="age">
                    {{name}} - {{age}} {{isYearPlural(age)}}
                </h3>
                <h3 class="card-title" v-if="price">
                    {{name}} - {{price}} €
                </h3>
                <p class="card-text">
                    {{desc}}
                </p>
                <router-link
                    class="btn btn-lg btn-outline-dark d-block mx-auto mt-4 text-decoration-none link-dark w-50"
                    v-if="age"
                    :to="{name: 'profile', params : {category: category, id: id}}"
                >
                    Voir profil
                </router-link>
                <router-link
                    class="btn btn-lg btn-outline-dark d-block mx-auto mt-4 text-decoration-none link-dark w-50"
                    v-if="price"
                    :to="{name: 'product', params : {id: id}}"
                >
                    Voir produit
                </router-link
                >
            </div>
        </div>
    </div>
</template>

<style scoped>
    .card p{
        font-family: var(--font-secondary);
    }

    .card-product img{
        height: 300px;
        object-fit: contain;
    }

    .card button:hover{
        background-color: var(--color-secondary);
    }
</style>