<script>
import {useCartStore} from "@/stores/cart.js";
export default {
    name: "Cart",
    data () {
        return {
            cartStore: useCartStore(),
            shipmentCost: 0
        }
    },
    computed: {
        totalCart() {
            return parseInt(this.cartStore.getTotalCartPrice) + parseInt(this.shipmentCost);
        }
    }
}
</script>

<template>
    <main class="container">
        <h2 class="mt-3 mt-md-5 mb-4 text-center text-md-start">Panier</h2>
        <div v-if="cartStore.products.length === 0">
            <p class="text-center">
                Aucun produit dans le panier
                <router-link
                class="btn btn-lg btn-outline-dark d-block mx-auto mt-4 text-decoration-none link-dark w-25"
                :to="{name: 'products'}"
                >
                    Voir les produits
                </router-link
                >
            </p>
        </div>
        <table class="table" id="cart_table" v-else>
            <thead>
            <tr>
                <th>Nom</th>
                <th class="description">Description</th>
                <th>Prix unitaire €</th>
                <th>Quantité</th>
                <th>Prix Total €</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="cart_table_products">
            <tr v-for="cartProduct in cartStore.products"
                :key="cartProduct.id"
            >
                <td>
                    <router-link class="link-secondary"
                        :to="{name: 'product', params: {id: cartProduct.id}}" >
                        {{ cartProduct.name }}
                    </router-link>
                </td>
                <td class="description">{{ cartProduct.desc }}</td>
                <td>{{ cartProduct.price }}</td>
                <td>
                    <input type="number"
                           class="quantity"
                           :value="cartProduct.qty"
                           min="0"
                           @change="cartStore.changeQuantity(cartProduct.id, $event)"
                    >
                </td>
                <td>{{cartProduct.totalPrice}}</td>
                <td>
                    <button @click="cartStore.deleteProduct(cartProduct.id)">
                        X
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <h3 class="mt-5">Mode de livraison :</h3>
        <label for="deliveries">Quel mode de livraison souhaitez-vous :</label>
        <select name="deliveries" id="deliveries" v-model="shipmentCost">
            <option value="0">Selectionner un mode de livraison</option>
            <option v-for="shipment in cartStore.shipments"
                    :value="shipment.cost"
            >
                {{shipment.option}} - {{shipment.cost}} €
            </option>
        </select>

        <div class="global_price text-end" data-global-price="">Prix total : <span>{{ totalCart }} €</span></div>

        <h3 class="mt-5">Vos coordonnées :</h3>
        <form>
            <label for="lname" class="form-label">Votre nom :</label>
            <input type="text" class="form-control" id="lname" required>
            <div class="error name_error"></div>

            <label for="addr" class="form-label mt-3">Votre adresse :</label>
            <input type="text" class="form-control" id="addr" required>
            <div class="error addr_error"></div>

            <label for="zipcode" class="form-label mt-3">code postal :</label>
            <input type="text" class="form-control" id="zipcode" required>
            <div class="error zip_error"></div>

            <label for="city" class="form-label mt-3">Ville :</label>
            <input type="text" class="form-control" id="city" required>
            <div class="error city_error"></div>

            <label for="email" class="form-label mt-3">Votre mail :</label>
            <input type="text" class="form-control" id="email">
            <div class="error email_error"></div>

            <label for="phone" class="form-label mt-3">Votre numéro :</label>
            <input type="text" class="form-control" id="phone">
            <div class="error phone_error"></div>

            <div class="error required_msg"></div>

            <button type="submit" class="submit">Valider vos coordonées</button>
        </form>

        <a href="forms/payment.html"
           class="mb-4 btn btn-lg btn-outline-dark d-block w-50 mx-auto text-decoration-none link-dark"
        >
            Aller au paiement
        </a>

    </main>
</template>

<style scoped>
    .global_price {
        font-size: 24px;
    }

    .global_price span {
        font-size: 26px;
    }

    form {
        margin: 0 auto;
    }

    .quantity {
        width: 150px;
    }

    .submit{
        background-color: var(--color-primary);
        padding: 15px 10px;
        display: block;
        margin: 35px auto 15px auto;
        border: none;
        border-radius: 5px;
    }

    .submit:hover{
        opacity: 0.8;
    }

    .name_error{
        display: none;
    }

    .error{
        background-color: rgb(249, 169, 169);
        color: rgb(186, 0, 0);
        margin: 15px 0px;
        padding: 10px;
        border-radius: 5px;
        display: none;
    }

    #deliveries {
        margin-left: 15px;
        padding: 5px;
        border-radius: 5px;
        border: none;
    }

    @media screen and (max-width: 767px) {
        .description {
            display: none;
        }

        .global_price {
            margin-top: 35px;
            font-size: 20px;
        }

        .global_price span {
            font-size: 22px;
        }

        .quantity {
            width: 50px;
        }
    }
</style>
