<script>
import {useUserStore} from "@/stores/user.js";
import router from "@/router/index.js";

export default {
    name: "Connexion",
    data() {
        return {
            login: "",
            password: "",
            users: [],
            errorMessage: '',
            isErrorActive: false,
            userStore: useUserStore()
        }
    },
    methods: {
        doLogin() {
            const user = this.users.find(user => {
                return user.login === this.login && user.password === this.password;
            })

            if (user === undefined) {
                this.errorMessage = 'Mauvais couple login/password';
                this.isErrorActive = true;
                return false;
            }

            localStorage.setItem('token', user.token);
            this.userStore.setConnectedUser(user);
            router.replace({ path: '/' })
        },
        async getUsers() {
            try {
                const response = await fetch('/data/users/users.json');
                if (!response.ok) {
                    throw new Error();
                }
                this.users = await response.json();
            } catch (error) {
                this.errorMessage = 'Erreur dans le login veuillez reessayer plus tard';
                this.isErrorActive = true;
            }
        }
    },
    created() {
        this.getUsers();
    }
}
</script>

<template>
    <main class="container">
        <h2 class="mt-3 mt-md-5 text-center">Connexion</h2>
        <div class="error" :class="{active: isErrorActive}">{{errorMessage}}</div>
        <!-- Section formulaire de connexion -->
        <form class="form-connexion">

            <div class="mb-3">
                <label for="login" class="form-label">Login :</label>
                <input type="text" class="form-control" id="login" v-model="login">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password :</label>
                <input type="password" class="form-control" id="password" v-model="password">
            </div>

            <button type="submit" class="btn mx-auto d-block btn-lg border" @click.prevent="doLogin">Se connecter</button>
        </form>
    </main>
</template>

<style scoped>
    .active {
        display: block;
    }
</style>