<script>
export default {
    name: "Contact"
}
</script>

<template>
    <main class="container">
        <h2 class="mt-3 mt-md-5 text-center">Contact</h2>
        <!-- Section formulaire d'inscription -->
        <form class="form-inscription">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="lname" class="form-label">Nom :</label>
                    <input type="text" class="form-control" id="lname" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="fname" class="form-label">Prénom :</label>
                    <input type="text" class="form-control" id="fname" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email : </label>
                <input type="email" id="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="addr" class="form-label">Message : </label>
                <textarea type="text" id="addr" class="form-control" required>
                    </textarea>
            </div>


            <button type="submit" class="btn mx-auto d-block btn-lg border">Envoyer</button>
        </form>
    </main>
</template>

<style scoped>

</style>