<script>
import Card from "@/components/Card.vue";
import Navbar from "@/components/Navbar.vue";
import {useProfilesStore} from "@/stores/profiles.js";

export default {
  name: "Home",
    components: {Navbar, Card},
    data() {
      return {
          category: this.$route.params.category ? this.$route.params.category : 'new',
          profilesStore: useProfilesStore(),
          url: import.meta.env.BASE_URL
      }
    },
    computed: {
        isLoaderActive() {
            return this.profilesStore.isLoaderActive;
        },
        isErrorActive() {
            return this.profilesStore.errorMessage !== '';
        },
        errorMessage() {
            return this.profilesStore.errorMessage;
        }
    },
    created() {
        this.profilesStore.getProfilesFromCategory(this.category);
    }
}
</script>

<template>
    <Navbar />
    <main class="container mb-5">
        <section class="main-content">
            <h2 class="mt-3 mt-md-5 mb-4 text-center text-md-start">Nouveaux profils</h2>
            <div :class="{loader : isLoaderActive }"></div>
            <div class="profils-list row">
                <Card v-for="newProfile in profilesStore.profiles[category]"
                     :key="newProfile.id"
                     :id="newProfile.id"
                     :desc="newProfile.desc"
                     :age="newProfile.age"
                     :name="newProfile.name"
                     :img="newProfile.img"
                     :category="newProfile.category"
                />
            </div>
        </section>
    </main>
</template>

<style scoped>

</style>
