<script>
export default {
    name: "Inscription"
}
</script>

<template>
    <main class="container">
        <h2 class="mt-3 mt-md-5 text-center">Inscription</h2>
        <!-- Section formulaire d'inscription -->
        <form class="form-inscription">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="lname" class="form-label">Nom :</label>
                    <input type="text" class="form-control" id="lname" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="fname" class="form-label">Prénom :</label>
                    <input type="text" class="form-control" id="fname" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email : </label>
                <input type="email" id="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="addr" class="form-label">Adresse : </label>
                <input type="text" id="addr" class="form-control" required>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ville" class="form-label">Ville :</label>
                    <input type="text" class="form-control" id="ville" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="postcode" class="form-label">Code postal :</label>
                    <input type="number" class="form-control" id="postcode" pattern="[0-9]{5}" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Mot de passe : </label>
                <input type="password" id="pwd" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="pwd2" class="form-label">Vérification du mot de passe : </label>
                <input type="password" id="pwd2" class="form-control" required>
            </div>

            <button type="submit" class="btn mx-auto d-block btn-lg border">S'inscrire</button>
        </form>
    </main>
</template>

<style scoped>

</style>