<script>
import router from "@/router/index.js";
import {useUserStore} from "@/stores/user.js";

export default {
    name: "Logout",
    data() {
      return {
          userStore: useUserStore()
      }
    },
    methods: {
        logout() {
            localStorage.removeItem('token');
            this.userStore.isConnectedUser = false;
            router.push({name: 'sign-in'})
        }
    }
}
</script>

<template>
    <a href="#" class="link-dark"
       @click="logout"
    >
        Déconnexion
    </a>
</template>

<style scoped>
</style>