<script>
export default {
    name: "Navbar",
    computed: {
        isActiveNavHome() {
            return this.$route.name === 'home'
        },
        isActiveNavBabies() {
            return this.$route.params.category === 'babies';
        },
        isActiveNavKids() {
            return this.$route.params.category === 'kids';
        },
        isActiveNavTeens() {
            return this.$route.params.category === 'teenagers';
        },
        isActiveNavProducts() {
            return this.$route.name === 'products';
        }
    }
}
</script>

<template>
    <nav class="d-flex justify-content-start justify-content-md-center border-bottom mt-3">
        <router-link :to="{name: 'home'}" class="text-decoration-none text-dark">
                <div class="nav-item me-5" :class="{'active-nav': isActiveNavHome}">
                <img src="/images/logo/new.png" alt="Logo nouveautés"/>
                <p class="nav-item_text text-center mt-1">Nouveaux</p>
            </div>
        </router-link>
        <router-link :to="{name: 'profiles', params:{category: 'babies'}}" class="text-decoration-none text-dark">
            <div class="nav-item me-5" :class="{'active-nav': isActiveNavBabies}">
                <img src="/images/logo/bebe.png" alt="Logo nouveautés"/>
                <p class="nav-item_text text-center mt-1">Bébés</p>
            </div>
        </router-link>
        <router-link :to="{name: 'profiles', params:{category: 'kids'}}" class="text-decoration-none text-dark">
            <div class="nav-item me-5" :class="{'active-nav': isActiveNavKids}">
                <img src="/images/logo/enfant.png" alt="Logo nouveautés"/>
                <p class="nav-item_text text-center mt-1">Enfants</p>
            </div>
        </router-link>
        <router-link :to="{name: 'profiles', params:{category: 'teenagers'}}" class="text-decoration-none text-dark">
            <div class="nav-item me-5" :class="{'active-nav': isActiveNavTeens}">
                <img src="/images/logo/ado.png" alt="Logo nouveautés"/>
                <p class="nav-item_text text-center mt-1">Ados</p>
            </div>
        </router-link>
        <router-link :to="{name: 'products'}" class="text-decoration-none text-dark">
            <div class="nav-item" :class="{'active-nav': isActiveNavProducts}">
                <img src="/images/logo/accessoires.png" alt="Logo nouveautés"/>
                <p class="nav-item_text text-center mt-1">Accessoires</p>
            </div>
        </router-link>
    </nav>
</template>

<style scoped>

</style>