<script>
export default {
    name: "Payment"
}
</script>

<template>
    <main class="container">
        <h2 class="mt-3 mt-md-5 text-center">Paiement</h2>
        <!-- Section formulaire de connexion -->
        <form class="form-connexion">

            <div class="mb-3">
                <label for="cardName" class="form-label">Nom et prénom :</label>
                <input type="text" class="form-control" id="cardName" required>
            </div>

            <div class="mb-3">
                <label for="cardNumber" class="form-label">Numéro de carte :</label>
                <input  type="number"
                        class="form-control"
                        id="cardNumber"
                        placeholder="XXXX-XXXX-XXXX-XXXX"
                        required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password :</label>
                <input type="password" class="form-control" id="password" required>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="expiredDate" class="form-label">Date d'expiration :</label>
                    <input type="date" class="form-control" id="expiredDate" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="securityCode" class="form-label">Code sécurité :</label>
                    <input type="number" class="form-control" id="securityCode" required>
                </div>
            </div>

            <button type="submit" class="btn mx-auto d-block btn-lg border">Payer</button>

        </form>
    </main>
</template>

<style scoped>

</style>