<script>
import Navbar from "@/components/Navbar.vue";
import Card from "@/components/Card.vue";
import {useProductsStore} from "@/stores/products.js";

export default {
    name: "Products",
    components: {Card, Navbar},
    data() {
        return {
            productsStore : useProductsStore()
        }
    },
    computed: {
        isLoaderActive() {
            return this.productsStore.isLoaderActive
        },
        isErrorActive() {
            return this.productsStore.errorMessage !== '';
        },
        errorMessage() {
            return this.productsStore.errorMessage;
        }
    },
    created() {
        this.productsStore.getProducts();
    }
}
</script>

<template>
    <Navbar />
    <main class="container mb-5">
        <section class="main-content">
            <h2 class="mt-3 mt-md-5 mb-4 text-center text-md-start">Accessoires</h2>
            <div class="error" :class="{active: isErrorActive}">{{errorMessage}}</div>
            <div :class="{loader : isLoaderActive }"></div>
            <div class="products-list row">
                <Card v-for="product in productsStore.products"
                      :key="product.id"
                      :id="product.id"
                      :desc="product.desc"
                      :name="product.name"
                      :img="product.img"
                      :category="product.category"
                      :price="product.price"
                />
            </div>
        </section>
    </main>
</template>

<style scoped>
.card p{
    font-family: var(--font-secondary);
}

.card-accessoire img{
    height: 300px;
    object-fit: contain;
}

.card button:hover{
    background-color: var(--color-secondary);
}

.active {
    display: block;
}
</style>
