<script>
import Navbar from "@/components/Navbar.vue";
import {useCartStore} from "@/stores/cart.js";
import {useProductsStore} from "@/stores/products.js";

export default {
    name: "Product",
    components: {Navbar},
    data() {
        return {
            id: this.$route.params.id,
            product: {},
            isLoaderActive: true,
            isErrorActive: false,
            errorMessage: '',
            cartStore: useCartStore(),
            productsStore: useProductsStore()
        }
    },
    methods: {
        getProduct() {
            if (this.productsStore.products.length === 0) {
                return this.fetchProduct(this.id);
            }

            this.product = this.productsStore.getProduct(this.id);
            this.isLoaderActive = false;
        },
        async fetchProduct(id) {
            try {
                const response = await fetch(`/data/products/${id}/product.json`);
                if (!response.ok) {
                    throw new Error();
                }
                this.isLoaderActive = false;
                return this.product = await response.json();

            } catch (error) {
                this.errorMessage = 'Erreur dans la récupération du produit merci de réessayer plus tard';
                this.isErrorActive = true;
            }
        },
    },
    created() {
        this.getProduct();
    }
}
</script>

<template>
    <Navbar />
    <main class="container">
        <h2 class="mt-3 mt-md-5 mb-4 text-center text-md-start">Produit</h2>
        <div class="error" :class="{active: isErrorActive}">{{errorMessage}}</div>
        <div :class="{loader : isLoaderActive }"></div>
        <article class="produit mb-3 mb-md-5">
            <section class="row justify-content-center justify-content-md-start">
                <div class="row justify-content-center col-md-4">
                    <img class="produit-img"
                         :src="`/images/crop/products/${product.img}.jpg`"
                         :alt="`photo de ${product.name}`"
                    >
                </div>
                <section class="col-md-8">
                    <h3>{{ product.name }}</h3>
                    <h4>{{ product.price }} €</h4>
                    <p>{{ product.desc }}</p>
                </section>
            </section>
            <button class="mt-5 btn btn-lg btn-outline-dark d-block mx-auto w-25 text-decoration-none link-dark"
                    @click="cartStore.addNewProduct(product.id, product.name, 1, product.price, product.desc)"
            >
                Ajouter au panier
            </button>
        </article>
    </main>
</template>

<style scoped>
    .active {
        display: block;
    }
</style>
