<script>
import Navbar from "@/components/Navbar.vue";
import Card from "@/components/Card.vue";
import {useProfilesStore} from "@/stores/profiles.js";

export default {
    name: "Profils",
    components: {Card, Navbar},
    data () {
        return {
            category: this.$route.params.category,
            profilesStore: useProfilesStore(),
            translations: {
                babies: 'bébés',
                kids: 'enfants',
                teenagers: 'ados',
                products: 'accessoires'
            }
        }
    },
    computed: {
        isLoaderActive() {
            return this.profilesStore.isLoaderActive;
        },
        isErrorActive() {
            return this.profilesStore.errorMessage !== '';
        },
        errorMessage() {
            return this.profilesStore.errorMessage;
        }
    },
    methods: {
        capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    },
    created() {
        this.profilesStore.getProfilesFromCategory(this.category);
        document.title = this.$route.params.category;
        this.$watch(
            () => this.$route.params,
            (toParams, previousParams) => {
                this.category = toParams.category;
                document.title = toParams.category;
                this.profilesStore.getProfilesFromCategory(this.category);
            }
        )
    }
}
</script>

<template>
    <Navbar />
    <main class="container mb-5">
        <section class="main-content">
            <h2 class="mt-3 mt-md-5 mb-4 text-center text-md-start">
                {{ capitalizeFirstLetter(translations[category]) }}
            </h2>
            <div class="error" :class="{active: isErrorActive}">{{errorMessage}}</div>
            <div :class="{loader : isLoaderActive }"></div>
            <div class="profils-list row">
                <Card v-for="profile in profilesStore.profiles[category]"
                      :key="profile.id"
                      :id="profile.id"
                      :desc="profile.desc"
                      :age="profile.age"
                      :name="profile.name"
                      :img="profile.img"
                      :category="profile.category"
                />
            </div>
        </section>
    </main>
</template>

<style scoped>
    .active {
        display: block;
    }
</style>