<script>
import Navbar from "@/components/Navbar.vue";
import {useProfilesStore} from "@/stores/profiles.js";

export default {
    name: "Profil",
    components: {Navbar},
    data() {
        return {
            category: this.$route.params.category,
            id: this.$route.params.id,
            profile: {},
            profilesStore: useProfilesStore(),
            isLoaderActive: true,
            isErrorActive: false,
            errorMessage: ''
        }
    },
    methods: {
        async fetchProfile(category, id) {
            try {
                const response = await fetch(`/tess//data/profiles/${category}/${id}/profil.json`);
                if (!response.ok) {
                    throw new Error;
                }
                this.isLoaderActive = false;

                return this.profile = await response.json();
            } catch (error) {
                this.errorMessage = 'Erreur dans la récupération du profil merci de réessayer plus tard';
                this.isErrorActive = true;
            }

        },
        getProfile(category, id) {
            if (this.profilesStore.profiles[category].length === 0) {
               return this.fetchProfile(category, id);
            }
            this.isLoaderActive = false;
            this.profile = this.profilesStore.getProfile(this.category, this.id);
        }
    },
    created() {
        this.getProfile(this.category, this.id);
    }
}
</script>

<template>
    <Navbar />
    <main class="container">
        <h2 class="mt-3 mt-md-5 mb-4 text-center text-md-start">Profil {{profile.name}}</h2>
        <div class="error" :class="{active: isErrorActive}">{{errorMessage}}</div>
        <div :class="{loader : isLoaderActive }"></div>
        <article class="profil mb-3 mb-md-5">
            <section class="row justify-content-center justify-content-md-start">
                <div class="row justify-content-center col-md-4">
                    <img :src="`/images/crop/${profile.category}/${profile.img}.jpg`" alt="photo de profil">
                </div>
                <section class="col-md-8">
                    <h3>{{profile.name}}</h3>
                    <h4>{{profile.age}} {{profile.age > 1 ? 'ans' : 'an'}}</h4>
                    <p>{{profile.desc}}</p>
                </section>
            </section>

            <button class="mt-3 btn btn-lg btn-outline-dark d-block mx-auto">
                <a href="#" class="text-decoration-none link-dark">Demande de garde</a>
            </button>
        </article>
    </main>
</template>

<style scoped>

</style>
