<script>
import {RouterLink, RouterView} from 'vue-router'
import {useUserStore} from "@/stores/user.js";
import Logout from "@/components/Logout.vue";
export default {
    components: {Logout},
    data() {
        return {
            isDropDownUser: false,
            userStore: useUserStore()
        }
    },
    methods: {
        toggleDropDownUser() {
            this.isDropDownUser = !this.isDropDownUser;
        }
    }
}
</script>

<template>
    <header>
        <section class="header-top d-flex justify-content-between align-items-center flex-wrap">
            <h1 class="ms-5 mb-0 order-1">
                <router-link :to="{name: 'home'}" class="text-decoration-none text-dark">KidstoB</router-link>
            </h1>
            <div class="searchbar order-3 order-md-2">
                <span class="custom-placeholder"><img src="/images/logo/search.png" alt="logo recherche"/></span>
                <input type="search" placeholder="Recherche"/>
            </div>
            <div class="logos d-flex me-5 order-2 order-md-3">
                <div class="user-logo me-3">
                    <img src="/images/logo/utilisateur.png" alt="logo espace client" @click="toggleDropDownUser"/>
                    <div class="connect-menu" :class="{ active: isDropDownUser }">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <router-link v-if="!userStore.isConnectedUser"
                                             :to="{name: 'sign-in'}"
                                             class="link-dark"
                                             @click="toggleDropDownUser">
                                    Connexion
                                </router-link>
                                <Logout v-else @click="toggleDropDownUser"/>
                            </li>
                            <li class="list-group-item"
                                v-if="!userStore.isConnectedUser"
                            >
                                <router-link :to="{name: 'sign-up'}" class="link-dark" @click="toggleDropDownUser">
                                    S'inscrire
                                </router-link>
                            </li>
                            <li class="list-group-item">
                                <router-link :to="{name: 'account'}" class="link-dark" @click="toggleDropDownUser">
                                    Mon espace
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cart-logo">
                    <router-link :to="{name: 'cart'}">
                        <img src="/images/logo/cart.png" alt="logo panier"/>
                    </router-link>
                </div>
            </div>
        </section>
    </header>

    <RouterView/>

    <footer class="d-flex flex-column justify-content-center align-items-center">
        <p>Tous droits réservés - 2024</p>
        <ul class="list-unstyled mx-auto">
            <li>
                <router-link :to="{name: 'contact'}" class="text-decoration-none link-dark link-opacity-75-hover"
                >Nous contacter</router-link
                >
            </li>
            <li>
                <a class="text-decoration-none link-dark link-opacity-75-hover" href="#">A propos</a>
            </li>
            <li>
                <a class="text-decoration-none link-dark link-opacity-75-hover" href="#">Mentions légales</a>
            </li>
        </ul>
    </footer>
</template>

<style scoped>

</style>
